.page {
  padding-bottom: 294px;
}

.category__label {
  font-family: "Halvar Breitschrift CY";
  font-size: 56px;
  margin-bottom: 56px;
  font-weight: 300;
  color: #494D58;
}

.category__label:last-child {
  margin-bottom: 0;
}

.category__label_t {
  margin-top: 80px;
  margin-bottom: 76px;
}

.category__title {
  font-family: "Halvar Breitschrift CY";
  font-size: 80px;
  font-weight: 300;
  color: #494D58;
  margin-bottom: 48px;
}

.category__button.active svg {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.category__text {
  margin-top: 24px;
}

.category__search {
  margin-bottom: 64px;
}

.category__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.category__item {
  padding: 0 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  margin-bottom: 76px;
}

.search-category {
  position: relative;
}

.search-category__input .input {
  min-height: 82px;
  font-size: 28px;
  padding-left: 30px;
}

.search-category__input .input::-webkit-input-placeholder {
  font-size: 28px;
}

.search-category__input .input::-moz-placeholder {
  font-size: 28px;
}

.search-category__input .input:-ms-input-placeholder {
  font-size: 28px;
}

.search-category__input .input::-ms-input-placeholder {
  font-size: 28px;
}

.search-category__input .input::placeholder {
  font-size: 28px;
}

.search-category__input .input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.search-category__input .input:focus::-moz-placeholder {
  opacity: 0;
}

.search-category__input .input:focus:-ms-input-placeholder {
  opacity: 0;
}

.search-category__input .input:focus::-ms-input-placeholder {
  opacity: 0;
}

.search-category__input .input:focus::placeholder {
  opacity: 0;
}

.search-category__button {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 102px;
  height: 100%;
}

.search-category__button svg {
  width: 40px;
  height: 40px;
  color: #636772;
}

.item-category__body {
  display: block;
  height: 100%;
  background: #fff;
}

.item-category__image {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 296px;
}

.item-category__image img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  -o-object-position: center;
  object-position: center;
  -o-object-fit: contain;
  object-fit: contain;
}

.item-category__pin {
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 4px;
  font-size: 18px;
  text-transform: uppercase;
  color: #636772;
}

.item-category__title {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  font-family: "Halvar Breitschrift CY";
  text-transform: lowercase;
  font-size: 18px;
}

@media (min-width: 768.98px) {
  .category__button {
    display: none;
  }

  .category__text {
    margin-bottom: 64px;
    max-width: 677px;
  }

  .links-category {
    display: none;
  }
}

@media (min-width: 991.98px) {
  .category__paging {
    margin-top: 50px;
  }

  .navigation-page__list {
    display: none;
  }

  .search-category__input .input {
    padding-right: 102px;
  }
}

@media (min-width: 1100.98px) {
  .category__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 33.333%;
    flex: 0 1 33.333%;
  }
}

@media (min-width: 1250.98px) {
  .category__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 25%;
    flex: 0 1 25%;
  }
}

@media (max-width: 1920px) {
  .page {
    padding-bottom: calc(120px + 174 * ((100vw - 320px) / 1600));
  }

  .category__label {
    font-size: calc(28px + 28 * ((100vw - 320px) / 1600));
  }

  .category__label {
    margin-bottom: calc(15px + 41 * ((100vw - 320px) / 1600));
  }

  .category__label_t {
    margin-top: calc(30px + 50 * ((100vw - 320px) / 1600));
  }

  .category__label_t {
    margin-bottom: calc(50px + 26 * ((100vw - 320px) / 1600));
  }

  .category__title {
    font-size: calc(30px + 50 * ((100vw - 320px) / 1600));
  }

  .category__title {
    margin-bottom: calc(24px + 24 * ((100vw - 320px) / 1600));
  }

  .category__search {
    margin-bottom: calc(40px + 24 * ((100vw - 320px) / 1600));
  }

  .category__item {
    margin-bottom: calc(20px + 56 * ((100vw - 320px) / 1600));
  }

  .search-category__input .input {
    min-height: calc(50px + 32 * ((100vw - 320px) / 1600));
  }

  .search-category__input .input {
    font-size: calc(12px + 16 * ((100vw - 320px) / 1600));
  }

  .search-category__input .input::-webkit-input-placeholder {
    font-size: calc(12px + 16 * ((100vw - 320px) / 1600));
  }

  .search-category__input .input::-moz-placeholder {
    font-size: calc(12px + 16 * ((100vw - 320px) / 1600));
  }

  .search-category__input .input:-ms-input-placeholder {
    font-size: calc(12px + 16 * ((100vw - 320px) / 1600));
  }

  .search-category__input .input::-ms-input-placeholder {
    font-size: calc(12px + 16 * ((100vw - 320px) / 1600));
  }

  .search-category__input .input::placeholder {
    font-size: calc(12px + 16 * ((100vw - 320px) / 1600));
  }

  .search-category__button svg {
    width: calc(24px + 16 * ((100vw - 320px) / 1600));
  }

  .search-category__button svg {
    height: calc(24px + 16 * ((100vw - 320px) / 1600));
  }

  .item-category__image {
    margin-bottom: calc(12px + 4 * ((100vw - 320px) / 1600));
  }

  .item-category__image {
    height: calc(165px + 131 * ((100vw - 320px) / 1600));
  }

  .item-category__pin {
    margin-bottom: calc(1px + 3 * ((100vw - 320px) / 1600));
  }

  .item-category__pin {
    font-size: calc(12px + 6 * ((100vw - 320px) / 1600));
  }

  .item-category__title {
    font-size: calc(12px + 6 * ((100vw - 320px) / 1600));
  }
}

@media (max-width: 991.98px) {
  .category__prev {
    padding-left: 50px !important;
  }

  .search-category__input .input {
    padding-right: 60px;
    padding-left: 20px;
  }

  .search-category__button {
    width: 60px;
  }
}

@media (max-width: 768.98px) {
  .category__button {
    min-height: 52px;
    background: #F9F9F9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1px 20px;
    font-family: "Halvar Breitschrift CY";
    font-size: 18px;
  }

  .category__button svg {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 16px;
    height: 16px;
  }

  .category__text {
    padding-bottom: 24px;
  }

  .category__items {
    margin: 0 -7px;
  }

  .category__item {
    padding: 0 7px;
  }

  .item-category__pin {
    line-height: 140%;
  }

  .links-category__item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 52px;
    background: #F9F9F9;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1px 20px;
    font-family: "Halvar Breitschrift CY";
    font-size: 18px;
    border-top: 1px solid #eaeaed;
  }
}

@media (max-width: 768.98px) and (max-width: 1920px) {
  .category__button {
    font-size: calc(12px + 6 * ((100vw - 320px) / 1600));
  }

  .links-category__item a {
    font-size: calc(12px + 6 * ((100vw - 320px) / 1600));
  }
}

@media (min-width: 768.98px) and (max-width: 1920px) {
  .category__text {
    margin-bottom: calc(40px + 24 * ((100vw - 320px) / 1600));
  }
}