.page {
  padding-bottom: 167px;
}

.news-item__image {
  margin-bottom: 48px;
}

.news-item__image img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: left center;
  object-position: left center;
}

.news-item__date {
  margin-bottom: 16px;
}

.news-item__title {
  font-family: "Halvar Breitschrift CY";
  font-weight: 300;
  text-transform: lowercase;
  margin-bottom: 48px;
}

.side-news-item__block {
  margin-bottom: 48px;
  display: block;
}

.side-news-item__block:last-child {
  margin: 0;
}

.side-news-item__image {
  margin-bottom: 24px;
}

.side-news-item__image img {
  width: 100%;
  height: 240px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: left top;
  object-position: left top;
}

.side-news-item__date {
  margin-bottom: 8px;
}

.side-news-item__title {
  font-family: "Halvar Breitschrift CY";
  text-transform: lowercase;
  font-size: 18px;
}

@media (min-width: 991.98px) {
  .news-item__side {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 365px;
    flex: 0 0 365px;
  }
}

@media (min-width: 1200.98px) {
  .news-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .news-item__content {
    padding-right: 50px;
  }

  .news-item__content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  .news-item__side {
    padding-left: 50px;
    -ms-flex-item-align: start;
    align-self: flex-start;
    border-left: 2px solid rgba(99, 103, 114, 0.56);
    padding-bottom: 130px;
  }
}

@media (min-width: 1800.98px) {
  .news-item__content {
    padding-right: 136px;
  }

  .news-item__title {
    font-size: 56px;
  }

  .news-item__side {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 445px;
    flex: 0 0 445px;
  }

  .news-item__side {
    padding-left: 115px;
  }
}

@media (max-width: 1920px) {
  .page {
    padding-bottom: calc(130px + 37 * ((100vw - 320px) / 1600));
  }

  .news-item__image {
    margin-bottom: calc(40px + 8 * ((100vw - 320px) / 1600));
  }

  .news-item__date {
    margin-bottom: calc(8px + 8 * ((100vw - 320px) / 1600));
  }

  .news-item__title {
    margin-bottom: calc(40px + 8 * ((100vw - 320px) / 1600));
  }

  .side-news-item__title {
    font-size: calc(12px + 6 * ((100vw - 320px) / 1600));
  }
}

@media (max-width: 1800.98px) {
  .news-item__title {
    font-size: 40px;
  }
}

@media (max-width: 1200.98px) {
  .news-item__text {
    margin-bottom: 80px;
  }

  .side-news-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -8px;
  }

  .side-news-item__block {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    margin-bottom: 20px;
    padding: 0 8px;
  }

  .side-news-item__title br {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .news-item__title {
    font-size: 28px;
  }

  .side-news-item__date {
    font-size: 10px;
  }
}

@media (max-width: 600.98px) {
  .side-news-item__image img {
    height: 165px;
    -o-object-position: center top;
    object-position: center top;
  }
}