@font-face {
  font-family: "GraphikLCG";
  src: local("GraphikLCG-Medium"), url("../fonts/GraphikLCG-Medium.woff2") format("woff2"), url("../fonts/GraphikLCG-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GraphikLCG";
  src: local("GraphikLCG-Regular"), url("../fonts/GraphikLCG-Regular.woff2") format("woff2"), url("../fonts/GraphikLCG-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GraphikLCG";
  src: local("GraphikLCG-Semibold"), url("../fonts/GraphikLCG-Semibold.woff2") format("woff2"), url("../fonts/GraphikLCG-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Halvar Breitschrift CY";
  src: local("HalvarBreit-Light"), url("../fonts/HalvarBreit-Light.woff2") format("woff2"), url("../fonts/HalvarBreit-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Halvar Breitschrift CY";
  src: local("HalvarBreit-Medium"), url("../fonts/HalvarBreit-Medium.woff2") format("woff2"), url("../fonts/HalvarBreit-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Halvar Breitschrift CY";
  src: local("HalvarBreit-Regular"), url("../fonts/HalvarBreit-Regular.woff2") format("woff2"), url("../fonts/HalvarBreit-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Halvar Breitschrift CY";
  src: local("HalvarBreit-Thin"), url("../fonts/HalvarBreit-Thin.woff2") format("woff2"), url("../fonts/HalvarBreit-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

a {
  color: inherit;
}

* {
  min-width: 0;
}

body {
  font-family: "GraphikLCG", sans-serif;
  color: #636772;
  font-size: 18px;
  background: #EAEAED;
  overflow-x: hidden;
}

body.lock {
  overflow: hidden;
}

*::-moz-selection {
  color: #636772;
  background: #FEED01;
}

*::selection {
  color: #636772;
  background: #FEED01;
}

img {
  pointer-events: none;
}

* {
  min-width: 0;
}

.stroke {
  color: #494D58;
}

.stroke svg {
  fill: none !important;
}

img {
  pointer-events: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

.header,
.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.page {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.page {
  padding-top: 140px;
}

.header__logo {
  display: none;
}

.header__logo_black {
  display: block;
}

.navigation-page__item {
  font-family: "Halvar Breitschrift CY";
  color: #A7ABAF;
  margin-bottom: 12px;
  font-size: 18px;
}

.navigation-page__item a {
  font-size: 18px;
  color: #636772;
}

.swiper-build {
  overflow: hidden;
}

.swiper-build .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

.swiper-build .swiper-slide {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 100%;
  width: 100%;
}

.swiper-build.swiper-container-multirow-column > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.swiper-build.swiper-container-autoheight .swiper-slide {
  height: auto;
}

.swiper-build.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

.dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.dots .swiper-pagination-bullet {
  margin: 0 3.5px;
  cursor: pointer;
  width: 20px;
  height: 2px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #B5B5B5;
}

.dots .swiper-pagination-bullet-active {
  background: #4C85D6;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  min-height: 48px;
  color: #fff;
  background: #4C85D6;
  border-radius: 5px;
  padding: 2px 25px;
  font-size: 14px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

svg {
  width: 24px;
  height: 24px;
}

.link {
  font-family: "Halvar Breitschrift CY";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  color: #494D58;
}

.link svg {
  width: 56px;
  height: 24px;
  fill: transparent;
  color: #494D58;
  margin-right: 24px;
}

.link_white {
  color: #fff;
}

.link_white svg {
  color: #fff;
}

.text p {
  line-height: 140%;
  margin-bottom: 22px;
}

.text p:last-child {
  margin: 0;
}

.title {
  font-family: "Halvar Breitschrift CY";
  font-weight: 300;
  font-size: 56px;
}

.title h2 {
  font-weight: 300;
}

.title__icon svg {
  width: 82px;
  height: 82px;
}

.date {
  color: rgba(99, 103, 114, 0.5);
  font-size: 18px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.header__container {
  min-height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__logo {
  position: relative;
  z-index: 200;
}

.header__logo img {
  width: 172px;
  height: 32px;
}

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 200;
  min-height: 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
  min-width: 147px;
}

.burger__label {
  font-weight: 300;
  color: #494D58;
  font-family: "Halvar Breitschrift CY";
  margin-right: 16px;
  font-size: 28px;
}

.burger__label_close {
  display: none;
}

.burger__button {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
  height: 10px;
  position: relative;
}

.burger__button span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1.5px;
  background: #494D58;
}

.burger__button span:first-child {
  top: 0;
}

.burger__button span:last-child {
  bottom: 0;
}

.menu.active .burger {
  min-width: 190px;
}

.menu.active .burger__label {
  display: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #494D58;
}

.menu.active .burger__label_close {
  display: block;
}

.menu.active .burger__button {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25px;
  flex: 0 0 25px;
}

.menu.active .burger__button span {
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #494D58;
}

.menu.active .burger__button span:first-child {
  -webkit-transform: translate(-50%, 0) rotate(-45deg);
  transform: translate(-50%, 0) rotate(-45deg);
  top: 5px;
}

.menu.active .burger__button span:last-child {
  -webkit-transform: translate(-50%, 0) rotate(45deg);
  transform: translate(-50%, 0) rotate(45deg);
  bottom: 3px;
}

.menu.active .search-menu {
  right: 0 !important;
}

.menu.active .menu__content {
  right: 0 !important;
}

.menu__content {
  position: fixed;
  top: 0;
  right: -100%;
  width: 74%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  background: #EAEAED;
  z-index: 100;
  display: block;
  padding-top: 33px;
  padding-bottom: 35px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.menu__title {
  color: #494D58;
  font-weight: 300;
  font-family: "Halvar Breitschrift CY";
  padding: 32px 0;
  border-top: 2px solid rgba(99, 103, 114, 0.8);
  font-size: 56px;
}

.menu__list {
  padding-bottom: 40px;
}

.menu__item {
  margin-bottom: 32px;
}

.menu__item:last-child {
  margin: 0;
}

.menu__link {
  font-family: "Halvar Breitschrift CY";
  font-size: 18px;
}

.search-menu {
  position: fixed;
  top: 0;
  right: -100%;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  height: 100px;
  z-index: 500;
  background: #EAEAED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search-menu__item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.search-menu__label {
  font-family: "Halvar Breitschrift CY";
  font-weight: 300;
  font-size: 28px;
  margin-right: 16px;
}

.search-menu__input {
  width: 100%;
}

.search-menu__input input {
  width: 100%;
  height: 52px;
  background: #fff;
  padding-right: 60px;
}

.search-menu__icon svg {
  width: 32px;
  height: 32px;
  color: #494D58;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  width: 100%;
  display: block;
  padding: 0 20px;
  background: #fff;
  color: #353535;
  min-height: 52px;
  border: 1px solid #D9D9D9;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.input::-webkit-input-placeholder {
  font-family: "Halvar Breitschrift CY";
  color: #C4C6CD;
  font-size: 12px;
}

.input::-moz-placeholder {
  font-family: "Halvar Breitschrift CY";
  color: #C4C6CD;
  font-size: 12px;
}

.input:-ms-input-placeholder {
  font-family: "Halvar Breitschrift CY";
  color: #C4C6CD;
  font-size: 12px;
}

.input::-ms-input-placeholder {
  font-family: "Halvar Breitschrift CY";
  color: #C4C6CD;
  font-size: 12px;
}

.input::placeholder {
  font-family: "Halvar Breitschrift CY";
  color: #C4C6CD;
  font-size: 12px;
}

textarea.input {
  resize: none;
  padding: 20px;
  background-color: #fff;
  min-height: 140px;
}

textarea.input::-webkit-input-placeholder {
  color: #777777;
}

textarea.input::-moz-placeholder {
  color: #777777;
}

textarea.input:-ms-input-placeholder {
  color: #777777;
}

textarea.input::-ms-input-placeholder {
  color: #777777;
}

textarea.input::placeholder {
  color: #777777;
}

.footer {
  padding: 43px 0;
  background: #494D58;
}

.footer__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 172px;
  flex: 0 0 172px;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.footer__logo img {
  width: 172px;
  height: auto;
}

.footer__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__company {
  font-size: 18px;
  font-family: "Halvar Breitschrift CY";
  color: #EAEAED;
}

.footer__about {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 49.5%;
  flex: 0 1 49.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__policy {
  font-size: 18px;
  font-family: "Halvar Breitschrift CY";
  color: #EAEAED;
}

.menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-footer__item {
  margin-bottom: 40px;
}

.menu-footer__item:last-child {
  margin: 0;
}

.menu-footer__link {
  font-size: 18px;
  font-family: "Halvar Breitschrift CY";
  color: #EAEAED;
  line-height: 120%;
}

.info-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 60px;
}

.info-footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-footer__phone {
  font-size: 18px;
  font-family: "Halvar Breitschrift CY";
  color: #EAEAED;
}

.info-footer__email {
  font-size: 18px;
  font-family: "Halvar Breitschrift CY";
  color: #EAEAED;
}

.info-footer__location {
  font-size: 18px;
  line-height: 120%;
  font-family: "Halvar Breitschrift CY";
  color: #EAEAED;
}

.links-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.links-footer__item {
  margin-right: 40px;
}

.links-footer__item:last-child {
  margin: 0;
}

.links-footer__item a {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.links-footer__icon svg {
  color: #EAEAED;
  width: 30px;
  height: 24px;
  margin-right: 8px;
}

.links-footer span {
  font-size: 18px;
  text-transform: lowercase;
  font-family: "Halvar Breitschrift CY";
  color: #EAEAED;
}

@media (min-width: 768.98px) {
  .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .title__icon {
    margin-right: 20px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 82px;
    flex: 0 0 82px;
  }
}

@media (min-width: 991.98px) {
  .page__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .page__navigation {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
  }

  .page__content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-left: 10px;
  }

  .navigation-page__list {
    position: sticky;
    top: 20px;
    padding-bottom: 20px;
  }

  .menu__content {
    padding-left: 117px;
    padding-right: 30px;
  }

  .menu__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 111px -25px 0;
  }

  .menu__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    max-height: 580px;
    padding: 0 25px;
  }

  .search-menu {
    width: 70%;
    padding-left: 117px;
  }

  .search-menu__input {
    display: none;
  }

  .footer__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 125px;
  }

  .footer__menu {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0 30px;
  }

  .footer__bottom {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .menu-footer {
    margin: 0 -30px;
  }

  .menu-footer__list {
    padding: 0 30px;
  }

  .info-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .info-footer__links {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .info-footer {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 330px;
    flex: 0 0 330px;
  }

  .info-footer__phone {
    margin-bottom: 40px;
  }

  .info-footer__email {
    margin-bottom: 40px;
  }
}

@media (min-width: 1300.98px) {
  .info-footer {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 430px;
    flex: 0 0 430px;
  }
}

@media (min-width: 1330.98px) {
  .menu__row {
    margin: 111px -56px 0;
  }

  .menu__column {
    padding: 0 56px;
  }
}

@media (min-width: 1400.98px) {
  .menu-footer {
    margin: 0 -80px;
  }

  .menu-footer__list {
    padding: 0 80px;
  }
}

@media (min-width: 1800.98px) {
  .page__navigation {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 440px;
    flex: 0 0 440px;
  }
}

@media (max-width: 1920px) {
  .navigation-page__item {
    font-size: calc(12px + 6 * ((100vw - 320px) / 1600));
  }

  .navigation-page__item a {
    font-size: calc(12px + 6 * ((100vw - 320px) / 1600));
  }

  .date {
    font-size: calc(14px + 4 * ((100vw - 320px) / 1600));
  }

  .burger {
    min-width: calc(110px + 37 * ((100vw - 320px) / 1600));
  }

  .burger__label {
    font-size: calc(18px + 10 * ((100vw - 320px) / 1600));
  }

  .menu.active .burger {
    min-width: calc(130px + 60 * ((100vw - 320px) / 1600));
  }

  .menu__title {
    font-size: calc(28px + 28 * ((100vw - 320px) / 1600));
  }

  .menu__item {
    margin-bottom: calc(20px + 12 * ((100vw - 320px) / 1600));
  }

  .menu__link {
    font-size: calc(12px + 6 * ((100vw - 320px) / 1600));
  }

  .footer__company {
    font-size: calc(12px + 6 * ((100vw - 320px) / 1600));
  }

  .footer__policy {
    font-size: calc(12px + 6 * ((100vw - 320px) / 1600));
  }

  .menu-footer__link {
    font-size: calc(12px + 6 * ((100vw - 320px) / 1600));
  }

  .info-footer {
    padding-right: calc(1px + 59 * ((100vw - 320px) / 1600));
  }

  .info-footer__phone {
    font-size: calc(12px + 6 * ((100vw - 320px) / 1600));
  }

  .info-footer__email {
    font-size: calc(12px + 6 * ((100vw - 320px) / 1600));
  }

  .info-footer__location {
    font-size: calc(12px + 6 * ((100vw - 320px) / 1600));
  }

  .links-footer span {
    font-size: calc(12px + 6 * ((100vw - 320px) / 1600));
  }
}

@media (max-width: 1340.98px) {
  .title {
    font-size: 45px;
  }

  .title svg {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 991.98px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .page {
    padding-top: 100px;
  }

  .navigation-page__list {
    margin-bottom: 40px;
  }

  .navigation-page__item {
    display: inline;
  }

  .menu__content {
    width: 100%;
    padding-top: 165px;
  }

  .menu__row {
    padding: 0 15px;
  }

  .menu__title {
    border-top: 1px solid rgba(99, 103, 114, 0.8);
  }

  .search-menu {
    width: 100%;
    height: 162px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding-bottom: 32px;
  }

  .search-menu__label {
    display: none;
  }

  .search-menu__input {
    padding: 0 15px;
  }

  .search-menu__icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    right: 33px;
  }

  .footer__logo {
    margin-bottom: 40px;
    display: inline-block;
  }

  .footer__menu {
    padding: 40px 0;
    border-top: 1px solid #636772;
    border-bottom: 1px solid #636772;
  }

  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .menu-footer__list {
    margin-right: 60px;
  }

  .menu-footer__list:last-child {
    margin: 0;
  }

  .menu-footer__item {
    margin-bottom: 20px;
  }

  .info-footer {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding-top: 40px;
    border-top: 1px solid #636772;
    padding-bottom: 40px;
  }

  .info-footer__links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .info-footer__email {
    margin-right: 50px;
  }

  .info-footer__location {
    width: 100%;
    margin-bottom: 20px;
  }

  .info-footer__location {
    max-width: 450px;
  }

  .links-footer {
    padding-top: 40px;
    margin-bottom: 100px;
    border-top: 1px solid #636772;
  }
}

@media (max-width: 768.98px) {
  .link svg {
    width: 37px;
    height: 16px;
    margin-right: 16px;
  }

  .text p {
    font-size: 14px;
  }

  .title__icon {
    margin-bottom: 15px;
  }

  .title {
    font-size: 28px;
  }

  .header {
    background: #EAEAED;
  }

  .header__container {
    min-height: 65px;
  }

  .header__logo img {
    width: 123px;
    height: 22px;
  }

  .menu__title {
    padding: 20px 0;
  }
}

@media (max-width: 380.98px) {
  .footer__company {
    font-size: 10px;
  }

  .footer__policy {
    font-size: 10px;
  }
}

@media (max-width: 360.98px) {
  .info-footer__email {
    margin-right: 25px;
  }
}

@media (min-width: 991.98px) and (max-width: 1920px) {
  .menu__content {
    padding-left: calc(1px + 116 * ((100vw - 320px) / 1600));
  }

  .search-menu {
    padding-left: calc(1px + 116 * ((100vw - 320px) / 1600));
  }
}

@media (any-hover: hover) {
  .button:hover {
    background: #25497c;
  }
}